<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rohit_Flyway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DbConnection</display-name>
    <servlet-name>DbConnection</servlet-name>
    <servlet-class>dao.DbConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DbConnection</servlet-name>
    <url-pattern>/DbConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerDetails</display-name>
    <servlet-name>customerDetails</servlet-name>
    <servlet-class>com.customerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerDetails</servlet-name>
    <url-pattern>/customerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>com.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admindelete</display-name>
    <servlet-name>Admindelete</servlet-name>
    <servlet-class>com.Admindelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admindelete</servlet-name>
    <url-pattern>/Admindelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchFlight</display-name>
    <servlet-name>searchFlight</servlet-name>
    <servlet-class>com.searchFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchFlight</servlet-name>
    <url-pattern>/searchFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentServlet</display-name>
    <servlet-name>paymentServlet</servlet-name>
    <servlet-class>com.paymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentServlet</servlet-name>
    <url-pattern>/paymentServlet</url-pattern>
  </servlet-mapping>
</web-app>